@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: #eddab9;
    margin: 0 auto;
    margin-right: 0;

    flex-direction: column;
    height: 100%;
    width: 100%;
}

header, 
footer{
    width: 100%;
    background-color: #e8789a;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header{
    margin-bottom: 10px;
}
footer{
    margin-top: 10px;
}
#title,


#subtitle{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#title{
    padding-top: 40px;
    padding-bottom: 30px;
}
#subtitle{
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}
h1, h3, h4{
    margin: 0;
    display: flex;
}
h1{
    font-family: 'Comfortaa';
    font-size: 40px;
    font-weight: 800;
    align-items: center;
    justify-content: center;
}
h3, h4{
    font-family: 'Indie Flower';
    align-items: center;
    justify-content: center;
    padding: 5px;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 20px;
}

#pl{
    height: 120px;
    padding: 0;
    border-radius: 60px;
    border: solid 5px #6f1d57;
    transition-duration: 0.4s;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f5cb94;
    background-color: #6f1d57;
    padding-left: 20px;
    padding-right: 20px;
}
#pl:hover{
    background-color: #f5cb94;
    color: #6f1d57;
    border-color: #f5cb94;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.40),0 17px 50px 0 rgba(0,0,0,0.40);
}




/* ------ Initial Button ------- */

#PlayWme{
    height:100vh;
    width: 100vw;
    margin: 0 auto;
    margin-right: 0;
    margin-bottom: 0;
    background-color: #eddab9;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#message{
    font-family: 'Dancing Script';
    color: #6f1d57;
    font-size: 50px;
    margin: 50px;
}


#containerSmall > p{
    font-family: 'Dancing Script';
    font-size: 30px;
}
.containerBig{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 35px;
    font-family: 'Comfortaa';
}
#score{
    font-size: 26px;
    color:#6f1d57;
    font-weight: bold;
    margin: 15px;
    text-align: center;
}
#scoreTables{
    border-radius: 20px;
    background-color: #fdc482;
    color: #6f1d57;

    padding: 5px;
    margin: 0;

    display: grid;
    grid-template-columns: [first] 30% [line2] 20% [line3] auto;
    grid-template-rows: [row1-start] 50% [row1-end] auto [third-line];
    width: 250px;
    align-items: center;
    justify-content: center;
}
.scoreTable{
    padding: 2px;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center;
}
.scoreTable > p{
    font-size: 20px;
    padding: 0px;
    margin: 0;
    text-align: center;
}
.scoreTable > #scoreP,
.scoreTable > #scoreC,
.scoreTable > #line{
    font-size: 30px;
    font-size: 'Indie Flower';
}


#containerSmall{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#weapon{
    margin: 0;
    font-size: 20px;
    color: #6f1d57;
    text-shadow: 2px 2px 7px #6f1d57;
    padding-bottom: 30px;
}
#containerXSmall{
    flex-direction: row;
    display: flex;
}
.playersChoice{
    background-color: #6f1d57;
    border-radius: 40px;
    width: 100px;
    display: flex;

    margin-left: 20px;
    margin-right: 20px;
}
.choice{
    height: 100px;
    aspect-ratio: 1/1;
    padding: 0;
    border-radius: 40px;
    transition-duration: 0.4s;
}
.choice1{
    height: 100px;
    padding: 0;
    border-radius: 40px;
    transition-duration: 0.4s;
    width: 100px;
}
.choice:hover{
    background-color: #b1308a;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.40),0 17px 50px 0 rgba(0,0,0,0.40);
}
#containerBig2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 4px #e8789a;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 22px;
    box-shadow: 0px 0px 40px 0 rgba(207, 0, 114, 0.63);
}

#containerMedium{
    margin: 10px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: [first] 110px [line2] 200px [line3] 110px;
    grid-template-rows: [row1-start] 120px [row1-end];
}
#playerChoice, #computerChoice, #Text{
    justify-self: center;
    padding: 20px;
    color: grey; 
    font-family:'Indie Flower'; 
    font-size: 20px;
    text-align: center;
}
#Text{
    font-family: 'Indie Flower';
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #009980;
}
#buttonPlay{
    background-color: #e8789a;
    color: #f5cb94;
    border-radius: 20px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;

    margin: 30px;
    margin-bottom:0;

    transition-duration: 0.2s;
}
#buttonPlay:hover{
    background-color: #f5cb94;
    color: #6f1d57;
    cursor: pointer;
    border-radius: 20px;
}



footer{
    display: flex;
    align-items: center;
    justify-content: center;    

    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Comfortaa';
    margin-bottom: 0;
}

#lastContainerIPromise{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
}
.lastContainerIPromise > p{
    display: inline-flex;
}
#gitlogo{
    display: inline;
    height: 60px;
}

#contSmall1{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 360px;
    width: 600px;
    z-index: -2;
    margin-top: -200px;
    background-color: #eddab9;
}
#Winner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
#tryAgain{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #009980;
    border-radius: 20px;
    transition-duration: 0.3s;
}
#tryAgain:hover{
    color: #6f1d57;
    background-color: #b1308a;
    cursor: pointer;
    border-radius: 20px;
}






